section{
    margin: auto;
    width: 80%;
    text-align: left;
}

img{
    margin: auto;
}

h1, h2{
    background-color: rgb(185, 188, 196);
    color: rgb(84, 84, 167);
    width: 100%;
}

footer{
    color: white;
    background-color: rgb(79, 79, 221);
    width: 100%;
}

ul{
    list-style-type: circle;
}

ul ul{
    list-style-type: none;
}